# project documentation
synopsis/
applicationDesign/*

# Ref video
RefVideo/

# inference engine
.ipynb_checkpoints/
inference_engine/models/Qwen2.5-0.5B-Instruct-Q4_K_M.gguf
inference_engine/custom_infrence.ipynb

# Tauri
.vscode
src-tauri/target/
node_modules

# Root Folder
__pycache__