# project documentation
synopsis/
applicationDesign/*

# Ref video
RefVideo/

# inference engine
.ipynb_checkpoints/
inference_engine/my_models/*.safetensors
inference_engine/run_models
inference_engine/my_models/modelPrompt

# SST
inference_engine/STT/whisper_small/model.safetensors
inference_engine/STT/SttInput.mp3

# Tauri
.vscode
src-tauri/target/
node_modules

# Root Folder
__pycache__