body {
  color: #f0e8e8;       /* Sets the text color */
  font-family: 'Arial', 'Helvetica', sans-serif; 
  font-style: normal;   /* Sets the text style */
  background-color: #2c2c2c; /* #272727, #2c2c2c */
}